ul.smothscroll {
    position: fixed;
    bottom: 15px;
    right:30px;
    list-style: none;
    z-index: 999;
}
ul.smothscroll a {
    width: 50px;
    height: 50px;
    background: #b4773d;
    color: #fff;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 47px;
    border:1px solid #74461b;
    transition: all .3s;
}
ul.smothscroll a:hover{
    background: #dda570;
}